.FileTreeItem-root {
  cursor: pointer;
  height: 36px;
  position: relative;
  transition: background-color 0.2s;
}

.FileTreeItem-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.FileTreeItem-iconContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 16px;
}

.FileTreeItem-icon-group {
  width: 6px;
  height: 12px;
  /* adjusting margins so rotated group icon stays in bounds of parent */
  margin-left: 3px;
}

.FileTreeItem-icon-rotate {
  transform: rotate(90deg);
}

.FileTreeItem-name {
  flex-grow: 1;
  z-index: 1; /* not sure why this is needed. Should come back to this */
}

.FileTreeItem-more {
  display: none;
}

.FileTreeItem-root:hover .FileTreeItem-more {
  display: block;
  padding: 8px;
}

.FileTreeItem-more {
  opacity: 0.4;
  transition: opacity 0.2s;
}

.FileTreeItem-more:hover {
  opacity: 1;
}

.FileTreeItem-background {
  border-radius: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  /* NOTE: This animation is causing some wierd jump in the arrow icon sizing.
     Need to fix this before adding it back */
  /* transition: opacity 0.2s; */
}

.FileTreeItem-root:not(.FileTreeItem-selected) .FileTreeItem-background {
  opacity: 0;
}

.FileTreeItem-root:hover:not(.FileTreeItem-selected) .FileTreeItem-background {
  opacity: 0.05;
}
