.App {
  bottom: 0;
  display: flex;
  flex-direction: row;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.4s;
}

.App.Theme-Light {
  background-color: #fff;
}

.App.Theme-Dark {
  background-color: #161719;
}

.App-LeftPane {
  max-width: 300px;
  min-width: 300px;
  overflow: auto;
  width: 300px;
}

.App-RightPane {
  flex-grow: 1;
  overflow: auto;
  padding-right: 56px; /* Avoid the toolbar */
}
