body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 14px;
}

/* MARGINS */

.margin-all-20 {
  margin: 20px;
}

.margin-horiz-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-bottom-4 {
  margin-bottom: 4px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-left-12 {
  margin-left: 12px;
}

.margin-right-8 {
  margin-right: 8px;
}

/* PADDINGS */

.padding-all-4 {
  padding: 4px;
}

.padding-all-8 {
  padding: 8px;
}

.padding-all-12 {
  padding: 12px;
}

.padding-horiz-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-horiz-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-bottom-4 {
  padding-bottom: 4px;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

/* BORDERS */

.border-bottom {
  border-bottom-color: #efefef;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition: border-bottom-color 0.4s;
}

.border-bottom.Theme-Dark {
  border-bottom-color: #26292c;
}

.border-right {
  border-right-color: #efefef;
  border-right-style: solid;
  border-right-width: 1px;
  transition: border-right-color 0.4s;
}

.border-right.Theme-Dark {
  border-right-color: #26292c;
}

/* IMAGES */

.img-size-4 {
  width: 4px;
}

.img-size-6 {
  width: 6px;
}

.img-size-8 {
  width: 8px;
}

.img-size-12 {
  width: 12px;
}

.img-size-16 {
  width: 16px;
}

.img-size-20 {
  width: 20px;
}

.img-white {
  filter: brightness(0) invert(1);
}
