.FontStyle-primary {
  font-size: 13px;
}

.FontStyle-primaryBold {
  font-size: 13px;
  font-weight: bold;
}

.FontStyle-heavy {
  font-size: 20px;
  font-weight: bold;
}

.FontStyle-doc-p {
  font-size: 15px;
  line-height: 24px;
}

.FontStyle-doc-h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
}

.FontStyle-doc-h3 {
  font-size: 18px;
  line-height: 24px;
}

.FontMode-lightBackground.FontColorStyle-primary {
  color: black;
}

.FontMode-darkBackground.FontColorStyle-primary {
  color: white;
}

.FontMode-lightBackground.FontColorStyle-secondary {
  color: #444;
}

.FontMode-darkBackground.FontColorStyle-secondary {
  color: #aaa;
}

.FontMode-lightBackground.FontColorStyle-tertiary {
  color: #aaa;
}

.FontMode-darkBackground.FontColorStyle-tertiary {
  color: #aaa;
}
