.root {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.darkLightModeToolbarButton {
  transition: transform 0.4s;
}

.darkLightModeToolbarButton_isDarkMode .icon {
  transform: rotate(-180deg);
}

.darkLightModeToolbarButton_isLightMode .icon {
  transform: rotate(0deg);
}
