.ToolbarButton-root {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.DarkLightModeToolbarButton-isDarkMode img {
  transform: rotate(-180deg);
  transition: transform 0.4s;
}

.DarkLightModeToolbarButton-isLightMode img {
  transform: rotate(0deg);
  transition: transform 0.4s;
}
