.FontStyle-primary {
  font-size: 13px;
}

.FontStyle-primaryBold {
  font-size: 13px;
  font-weight: bold;
}

.FontStyle-heavy {
  font-size: 20px;
  font-weight: bold;
}

.FontStyle-doc-p {
  font-size: 15px;
  line-height: 24px;
}

.FontStyle-doc-h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
}

.FontStyle-doc-h3 {
  font-size: 18px;
  line-height: 24px;
}

.FontMode-animatedTransition {
  transition: color 0.4s;
}

.FontMode-lightBackground.FontColor-primary {
  color: black;
}

.FontMode-darkBackground.FontColor-primary {
  color: white;
}

.FontMode-lightBackground.FontColor-secondary {
  color: #444;
}

.FontMode-darkBackground.FontColor-secondary {
  color: #aaa;
}

.FontMode-lightBackground.FontColor-tertiary {
  color: #aaa;
}

.FontMode-darkBackground.FontColor-tertiary {
  color: #aaa;
}
