.backgroundColorPrimary {
  background-color: black;
}

.backgroundColorSecondary {
  background-color: #222222;
}

.backgroundColorInverted {
  background-color: white;
}

.borderColorPrimary {
  border-color: #26292c;
}

.borderColorAlert {
  border-color: #e74c3c;
}

.colorSelectionPrimary {
  background-color: #00c5fc;
}

.fontColorPrimary {
  color: white;
}

.fontColorSecondary {
  color: #aaa;
}

.fontColorTertiary {
  color: #666;
}

.iconColor {
  color: white;
}
