.backgroundColorPrimary {
  background-color: white;
}

.backgroundColorSecondary {
  background-color: #f0f0f0;
}

.borderColor {
  border-color: #efefef;
}

.colorSelectionPrimary {
  background-color: #3498db;
}

.fontColorPrimary {
  color: black;
}

.fontColorSecondary {
  color: #444;
}

.fontColorTertiary {
  color: #aaa;
}

.iconColor {
  color: black;
}
