.root {
}

.titleEditorContainer {
}

.titleEditor {
  outline: none;
}

.titleEditor:focus {
}

/**
 * We have custom text styling behavior in this component to compensate
 * for the fact that in the text editor, we don't have full control over
 * re-rendering text blocks (for perf reasons).
 */
.contentContainer {
  display: flex;
  flex-direction: row;
}
