.FileEditorProto-root {
  margin: 20px 20px 20px 20px;
}

.FileEditorProto-root p {
  color: #444;
  font-size: 14px;
  line-height: 22px;
}

.FileEditorProto-root code {
  font-size: 14px;
  line-height: 22px;
}

.FileEditorProtoSection-root {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.FileEditorProtoSection-label {
  min-width: 30px;
  max-width: 30px;
}

.FileEditorProtoSection-selector {
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s;
}

.FileEditorProtoSection-selector:hover {
  opacity: 1;
}

.FileEditorProtoSection-selector-p {
  line-height: 22px;
}

.FileEditorProtoSection-content {
}

.FileEditorProtoTags-root {
  display: flex;
  flex-direction: column;
}

.FileEditorProtoTags-container {
  margin-bottom: 6px;
}

.FileEditorProtoTags-tag {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px 12px;
  transition: background-color 0.4s;
}

.FileEditorProtoTags-tag {
  background-color: #efefef;
}

.FileEditorProtoTags-tag.Theme-Dark {
  background-color: #26292c;
}
